@{
    Layout = "~/_Layout.cshtml";
    //Page.Title = string.Format("Razor - {0}", "Home");
    Page.Title = $"Razor - {"Home"}";
}

@section banner{<h1>@Page.Title</h1>}

<blockquote>
    Home Page Body
</blockquote>
@section footer {<h4>Hey Guys</h4>}